.all_welcome{
    width:200px;
    height: 200px;
    margin: 0px auto;
    background-image: url(../assets/Softi.png);
    background-size: contain;
    margin-top:150px;

  }

  .hello_butt{
    margin: 0px auto;
    margin-top: 50px;
    height: 50px;
    width: 300px;
    border: 0px;
    background-color: rgb(113, 152, 175);
    box-shadow: 3px 3px rgb(101, 105, 107);
    text-align: center;
    border-radius: 20px;
    font-size: 2.4em;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  .hello_butt:hover{
    background-color: rgb(48, 113, 151);
    cursor: pointer;
  }

  .scanner{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-color: rgb(206, 240, 255);
  }
  .scanneroof{
    display: none;
  }

  .scanning_box{
    margin: 0px auto;
    margin-top: 50px;
    width: 640px;
    height: 480px;
    border: 2px solid rgb(75, 179, 240);
    background-color: rgba(124, 191, 230, 0.74);
    /* border-radius:50px 50px 0px 0px; */
    overflow:hidden;
  }

  .scanactive{
    position: fixed;
    margin: 0px auto;
    top: 52px;
    width: 640px;
    height: 480px;
    background-color: transparent;
  }

  .scanactiveoof{
    display: none;
  }

.top_scan{
  width: 100%;
  height: 430px;
  background-color: transparent;
  overflow: hidden;
}
.bottom_scan{
  width: 100%;
  height: 50px;
  background-color: rgba(116, 196, 228, 0.39);
  color: white;
  font-size: 2.5em;
  text-align: center;
}
.moving_bar{
  width: 100%;
  height: 20px;
  position: relative;
  background-image: radial-gradient(rgba(22, 170, 158, 0.712), rgba(0, 0, 255, 0));
  animation-name: 'movingbaranimation';
  animation-duration: 2s;
  animation-iteration-count: infinite;

}

@keyframes movingbaranimation {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 410px;
  }
  100% {
    margin-top: 0px;
  }
}




.useroof{
  display: none;
}

.inuser{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
}

.profile_me{
  width:100%;
  right:0px;
  height:100%;
  float: left;
  top:0px;
  bottom:0px;
  left: 0px;
  background-color: rgb(134, 211, 255);
text-align: center;
font-size: 4em;

}


































