<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Softi</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="theme-color" content="#1976d2">
<link rel="stylesheet" href="styles.284720194e16dd7e84e2.css"></head>
<body>
  <app-root></app-root>
  <noscript>Please enable JavaScript to continue using this application.</noscript>
<script src="runtime-es2015.10a1f01eef199006286d.js" type="module"></script><script src="polyfills-es2015.e4a1185e6871d06f842f.js" type="module"></script><script src="runtime-es5.9ad22a88fcc70a015907.js" nomodule defer></script><script src="polyfills-es5.da479429bfd39fbf99d9.js" nomodule defer></script><script src="main-es2015.33c71d17427b5ebd70bf.js" type="module"></script><script src="main-es5.fbceef89cbe8f61853e9.js" nomodule defer></script></body>
</html>
